<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel = "icon" th:href="@{/images/icon.png}" type = "image/x-icon">
    <title>About</title>
    <style>
        body {
            background-color: #f5f7fa;
        }
        nav{
            background-color: #2096ff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark " >
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbar20">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" th:href="@{/}">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/about}">About</a> </li>
                </ul>
            </div>
        </div>
    </nav>

    <container class="container ">
        <h1 class="p-4">Bienvenue dans notre application de gestion de contacts !</h1>
        <p class="p-4">
            Notre application vous permet de gérer efficacement tous vos contacts personnels et professionnels en un seul endroit pratique. Avec notre interface conviviale et nos fonctionnalités avancées, vous pourrez organiser, rechercher et mettre à jour vos contacts en toute simplicité.
        </p>
            <h3 class="p-4">Caractéristiques clés de notre application :</h3>
            <h5 class="p-4">Création de contacts</h5> <p class=" p-4">Vous pouvez facilement créer de nouveaux contacts en fournissant des informations telles que leur nom, prénom, numéro de téléphone personnel et professionnel, adresse, e-mails personnels et professionnels, ainsi que leur genre (masculin ou féminin). Chaque contact se voit attribuer un identifiant unique pour une identification facile.
            <h5 class="p-4">Liste des contacts</h5> <p class="p-4">Visualisez tous vos contacts dans une liste bien organisée, triée par ordre alphabétique pour un accès rapide. Vous pouvez parcourir la liste et afficher les détails de chaque contact en un seul clic.
            <h5 class="p-4">Suppression de contacts</h5> <p class="p-4">Si vous n'avez plus besoin d'un contact, notre application vous permet de le supprimer facilement. Cela garantit que votre liste de contacts reste à jour et sans encombrement.
            <h5 class="p-4">Modification de contacts</h5> <p class=" p-4">Vous pouvez mettre à jour les informations de vos contacts à tout moment. Si un numéro de téléphone, une adresse ou toute autre donnée change, vous pouvez apporter les modifications nécessaires pour maintenir vos contacts à jour.
            <h5 class="p-4">Recherche de contacts par nom</h5> <p class="p-4">Si vous avez un grand nombre de contacts, notre fonctionnalité de recherche vous permet de trouver rapidement un contact spécifique en saisissant simplement son nom. Les résultats de recherche s'affichent instantanément, vous faisant gagner un temps précieux.
            <h5 class="p-4">Recherche de contacts par numéro</h5> <p class=" p-4">Si vous disposez uniquement d'un numéro de téléphone personnel ou professionnel, notre application vous permet de trouver le contact correspondant. Il vous suffit d'entrer le numéro et notre application affichera les autres informations associées à ce contact.
            <h5 class="p-4">Gestion des groupes</h5> <p class="p-4">Pour une meilleure organisation de vos contacts, vous pouvez créer des groupes personnalisés tels que famille, amis, collègues, etc. Les groupes vous permettent de regrouper des contacts similaires et de les retrouver facilement lorsque vous en avez besoin.
            <h5 class="p-4">Suppression de groupes</h5> <p class="p-4">Si vous n'avez plus besoin d'un groupe spécifique, vous pouvez le supprimer sans affecter les contacts qui y sont associés. Cette fonctionnalité vous offre une flexibilité maximale dans la gestion de vos groupes. Notre application est développée avec Spring Boot et utilise une base de données MySQL pour stocker en toute sécurité vos contacts. Nous nous efforçons de vous offrir une expérience utilisateur fluide, une interface intuitive et des fonctionnalités robustes pour répondre à tous vos besoins en matière de gestion de contacts.
            Merci d'avoir choisi notre application de gestion de contacts. Nous espérons qu'elle vous sera utile dans votre vie quotidienne et qu'elle vous aidera à rester connecté(e) avec vos proches et vos contacts professionnels. Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter.</p>
         <p class="p-4">DARDOURI CHAIMAE - GI2</p>
    </container>
</body>
</html>